@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply transition-colors duration-500;
}
@media print {
  .no-print { display: none !important; }
  body { background-color: #fff !important; }
  * { 
    -webkit-print-color-adjust: exact !important; 
    print-color-adjust: exact !important; 
    box-shadow: none !important;
  }
}

